/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background: radial-gradient( circle, rgba(24, 29, 69, 1) 0%, rgba(11, 16, 38, 1) 100% );
  font-family: sans-serif;
  overflow-y: hidden;
  margin: 0;
}

